@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

header{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: white;
    height: 5vh;
    width: 100%;
    background: rgb(31, 172, 228);
    border-radius: 8px;
}

.txt-header{
    margin: 0 auto;
    text-shadow: 2px 3px 0px rgb(2, 2, 2);

}

main{
    display: flex;
    padding: 2rem;
}

main .container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other{
    font-size: 15px;
}

.social{
    text-shadow: none;
    background: linear-gradient(105deg, rgb(31, 172, 228),rgb(20, 205, 211));
    border-radius: 8px;
    border-color: black;
    text-decoration: none;
}

.square{
    background:  rgb(31, 172, 228);
    align-items: center;
    align-content: center;
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 0px rgb(2, 2, 2);
    border-radius: 10px;
    margin: 0 auto;
}

.square img{
    border-radius: 10px;
    align-content: center;
    clip-path: circle();
    margin: 0 auto;
}
